<ro-view id="floatMenu" ro-controller="floatMenu" mainPage>
    <ro-header>
        <ro-topbar>
            <ro-title>Float Menu</ro-title>
        </ro-topbar>
    </ro-header>
    <ro-stage>

        <ro-float-menu icon="More" iconActive="Close" state="hideItems">

            <ro-item icon="firstItem"
                     text="First Item"
                     action="RoFloatExample.Float.justAAlert()"></ro-item>

            <ro-item icon="secondItem"
                     text="Second Item"
                     action="RoFloatExample.Float.justAnotherFunction()"></ro-item>

            <ro-item icon="thirdItem"
                     text="Third Item"></ro-item>

        </ro-float-menu>

    </ro-stage>
</ro-view>