/* List */
ro-list {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: -webkit-calc(100% - 50px);  /* para Chrome */
  height: -moz-calc(100% - 50px);     /* para Firefox */
  height: calc(100% - 50px);          /* para suporte nativo */
  display: block;
}

ro-list ro-item * {
  -webkit-user-select: none;
  -ms-user-select: none;
}

ro-list ro-item {

  /* new flexbox syntax */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;

  /* old flexbox syntax */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;

  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;

  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;

  min-width: 0px;
  min-height: auto;  
  height: 45px;  
}

ro-list ro-item ro-checkbox {
  /* new flexbox syntax */
  order: 1;
  flex: 0 0 45px;
  align-self: auto;

  /* old flexbox syntax */
  -webkit-box-ordinal-group: 1;
  -webkit-order: 1;
  -ms-flex-order: 1;

  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45px;
  -ms-flex: 0 0 45px;

  -webkit-align-self: auto;
  -ms-flex-item-align: auto;

  min-width: 0px;
  min-height: auto;  
  display: block;  
}

ro-list ro-item ro-item-content {
  /* new flexbox syntax */
  order: 2;
  flex: 1 1 auto;
  align-self: auto;  

  /* old flexbox syntax */
  -webkit-box-ordinal-group: 2;
  -webkit-order: 2;
  -ms-flex-order: 2;

  -webkit-box-flex: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;

  -webkit-align-self: auto;
  -ms-flex-item-align: auto;

  min-width: 0px;
  min-height: auto;  
  text-align: left;
  padding-top: 14px;
  padding: 10px;
  display: block;
  
  width: calc(100% - 80px);

  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ro-item-swipemenu {
  position: absolute;
  float: left;
  font-size: 14px;
  width: 100%;
  background: green;
  top: 0;
  left: -100%;
  border: none;      
  color: white;
  font-weight: bold;
  transform: translateX(0px);
  -webkit-transform: translateX(0);
  text-align: right;
  display: block;
  height: 100%;
  z-index: 10;
}

ro-item-swipemenu.goMenu {
  -webkit-transition: 350ms;
  transition: 350ms;
  -webkit-transform: translateX(100%) !important;
  transform: translateX(100%) !important;
}

ro-item-swipemenu.backMenu {
  -webkit-transition: 350ms;
  transition: 350ms;
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

ro-item-swipemenu:before {
  content: attr(swipemenulabel);
  display: block;
  position: absolute;
  right: 0;
}