@font-face {
    font-family: 'roadsTest';
    src: url('../fonts/roads.eot?') format('embedded-opentype'),
    url('../fonts/roads.woff') format('woff'),
    url('../fonts/roads.ttf') format('truetype'),
    url('../fonts/roads.svg?4s9l5w#roads') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Awesome';
    src:url('../fonts/fontawesome-webfont.eot?') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

ro-float-menu {
    font-family: 'roadsTest' !important;
}

ro-float-menu ro-item::before {
    font-family: 'Awesome', sans-serif !important;
}

ro-item[icon="firstItem"]::before {
    content: "\f13d";
}

ro-item[icon="secondItem"]::before {
    content: "\f1e5";
}

ro-item[icon="thirdItem"]::before {
    content: "\f030";
}