<ro-view id="taskDetail" ro-controller="routeList">
  <ro-header>
    <ro-topbar>
      <ro-button text="Volta" icon="coisa" action="RoApp.backtoView('taskDetail', 'tasks')"></ro-button>
      <ro-title>Task</ro-title>
      <ro-button text="Vai" icon="coisa"></ro-button>
    </ro-topbar>
  </ro-header>
  <ro-stage scroll>
    <ro-layout orientation="vertical">
      <ro-item>
        <ro-label>Title</ro-label>
        <div>
          Oi, eu sou apenas um texto vei de n
        </div>
      </ro-item> 
      <ro-item>
        <ro-label>Location Address</ro-label>
          <input type="email" name="" value="" placeholder="yourmail@email.com" />
      </ro-item>
      <ro-item orientation="vertical">
        <ro-label>Location Address</ro-label>
          <input type="email" name="" value="" placeholder="yourmail@email.com" />
      </ro-item>       
      <ro-item>
        <ro-icon type="email"></ro-icon>
        <input type="email" name="" value="" placeholder="yourmail@email.com"  />
      </ro-item>
      <ro-item>
        <ro-icon type="email"></ro-icon>
        <input type="email" name="" value="" placeholder="yourmail@email.com"  />
        <ro-button type="delete">Delete</ro-button>
      </ro-item>
      <ro-item>
        <ro-icon type="email"></ro-icon>
        <input type="email" name="" value="" placeholder="yourmail@email.com" />
        <ro-button type="delete">Delete</ro-button>
      </ro-item>
      <ro-item>
        <ro-icon type="email"></ro-icon>
        <input type="email" name="" value="" placeholder="yourmail@email.com"  />
        <ro-button type="delete">Delete</ro-button>
      </ro-item>
      <ro-item>
        <ro-icon type="email"></ro-icon>
        <div>
          Oi, eu sou apenas um texto vei de nada :D quem tem medo do texto grande? Oi, eu sou apenas um texto vei de nada :D quem tem medo do texto grande? Oi, eu sou apenas um texto vei de nada :D quem tem medo do texto grande? Oi, eu sou apenas um texto vei de nada :D quem tem medo do texto grande? 
        </div>
      </ro-item>                        
    </ro-layout>
  </ro-stage>
</ro-view>