<ro-view id="tabs" ro-controller="tabs" mainPage>
    <ro-header>
        <ro-topbar>
            <ro-title>Let's play with tabs</ro-title>
        </ro-topbar>
    </ro-header>
    <ro-stage>

        <ro-tabs>
            <ro-tab label="First" tabindex="0">
                <h1>First tab!</h1>
            </ro-tab>

            <ro-tab label="Second" selected="true" tabindex="1">
                <h1>Second tab!</h1>
            </ro-tab>

            <ro-tab label="Third" tabindex="2">
                <h1>Third tab!</h1>
            </ro-tab>
        </ro-tabs>

    </ro-stage>
</ro-view>