<ro-view id="editUser" ro-controller="editUser">
  <ro-header>
    <ro-topbar>
      <ro-button text="Volta" icon="coisa" action=""></ro-button>
      <ro-title>Task</ro-title>
      <ro-button text="Vai" icon="coisa"></ro-button>
    </ro-topbar>
  </ro-header>
  <ro-stage scroll>
    <ro-layout orientation="vertical">
      <ro-item>
        <ro-label>Title</ro-label>
        <div>
           {{title}}
        </div>
      </ro-item> 
      <ro-item>
        <ro-label>Due Date</ro-label>
        <div>
          {{duedate}}
        </div>          
      </ro-item>
      <ro-item>
        <ro-label>Description</ro-label>
        <div>
          {{description}}
        </div>          
      </ro-item>
      <ro-item>        
        <ro-input type="text" name="" icon="ConfigureServerAddress" value="" placeholder="http://yourserver.greenmile.com">
      </ro-item>
      <ro-item>        
        <ro-input type="text" name="" icon="Configurelanguage" value="" placeholder="Language">
      </ro-item>
      <ro-item>        
        <ro-input type="text" name="" icon="Configuremainmenu" value="" placeholder="Configure Main Menu">
      </ro-item>            
    </ro-layout>
  </ro-stage>
</ro-view>