<ro-view id="roInlineMenu" ro-controller="roInlineMenu" mainPage>
    <ro-stage>
        <ro-list selectable="true">
            <ro-item>
                <ro-button action="Example.RoInlineMenu.toggleInlineMenu(1)"></ro-button>
                <ro-inline-menu>
                    <ro-item action="alert('clicked1')" icon="arrival" i18nKey="Teste">
                    </ro-item>
                    <ro-item action="alert('clicked1')" icon="details" i18nKey="Teste">
                    </ro-item>
                    <ro-item action="alert('clicked1')" icon="cancel" i18nKey="Teste">
                    </ro-item>
                    <ro-item action="alert('clicked1')" icon="map" i18nKey="Teste">
                    </ro-item>
                </ro-inline-menu>
            </ro-item>
        </ro-list>
    </ro-stage>
</ro-view>